@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    background-color: #252525;
    font-family: 'Roboto', Helvetica;
    max-width: 100%;
}

.banner {
    background: url(img/raspi.png);
    margin: 0 auto;
    padding-bottom: 300px;
	background-size: cover;
    border-bottom: 6px solid black;
    max-width: 100%;
}

.container {
    height: 50px;
    margin: 0 auto;
    width: 1240px;  
    max-width: 100%;
}

.image {
    float: right;
    width: 39px;
    height: 30px;
    border: none;
}